<style>


a:hover {
	color: #F60;
}
h1 {
	font: 1.7em;
	line-height: 110%;
	color: #000;
}
p {
	margin: 0 0 20px;
}

/* 重置Webkit搜索输入浏览器样式 */
input[type=search] {
-webkit-appearance: textfield;
-webkit-box-sizing: content-box;
font-family: inherit;
font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
display: none;
}




/* 搜索输入字段 */
input[type=search] {
	background: #ededed 
                url(images/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 180px;
	
	
	border-radius: 0.2em;
	
	transition: all .5s;
}
input[type=search]:focus {
	width: 200px;

	border-color: #6dcff6;

	box-shadow: 0 0 5px rgba(109,207,246,.5);
}

/* 占位符 */
input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}


.search .search-clear {
    display: none;
}

.search .search-results {
    display: block;
    z-index: 1000;
    position: absolute;
    top: 190px;
    right: 410px;
    width: 50%;
    max-height: 400px;
    overflow: auto;
    text-align: left;
    border-radius: 5px;
    background: #ccc;
    box-shadow: 0 .3rem .5rem #333;
}

.search .search-results .result-item {
    background: #252525;
    color: #fff;
    margin: 5px;
    padding: 3px;
    border-radius: 3px;
    cursor: pointer;
}
</style>
